.parent{
    display: flex;
    background-color: dimgray;
    justify-content: space-between;
    align-items: center;
}
@media screen and (min-width:0px)  and (max-width:470vw){
    .click{
        display: none;
    }
    .parent{
        display: flex;
        position: relative;
        padding: 10px;
    }
    .c2{
        position: absolute;
        display: none;
        gap: 5px;
        align-items: center;
        top: 70px;
        left: 0px;
        color: white;
        width: 100%;
        background-color:dimgrey;
    }
    .ham-icon{
        display: block;
    }
    .click:checked ~ .c2{
        display: flex;
        flex-direction: column;
    }

}
@media screen and (min-width:471px) and (max-width:550vw){

.parent{
    display: flex;
    position: relative;
    padding: 10px;
}
.c2{
    position: absolute;
    display: none;
    gap: 5px;
    align-items: center;
    top: 70px;
    left: 0px;
    /* color: white; */
    width: 100%;
    background-color:dimgrey;
}
.ham-icon{
    display: block;
}
.click:checked ~ .c2{
    display: flex;
    flex-direction: column;
}

} 
@media screen and (min-width:551px) and (max-width:1440vw){
    .parent{
        display: flex;
        padding: 10px;
        justify-content: space-between;
        gap: 50px;
    }
    .c2
    {   
        position: relative;
        top:3px;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: yellowgreen;
    }
    .iconp{
        display: none;
    }


}
@media (min-width:1441px) and (max-width:2560px){
    .c2
    {
        position: relative;
        top: 3px;
        align-items: center;
        justify-content: flex-end;
        margin-left: -30px;
        font-size: 30px;
        color: pink;
    } 
    .iconp{
        display: none;
    }
}